# set to empty if MySQL is available for testing and database schemas exist, set to 1 to not test against MySQL
NOMYSQL = 1
# set to empty to not run slow and long running tests. set to 1 to run them.
RUNSLOWTESTS =

# this will be getEnv('main').identityKey property value
MY_MAIN_IDENTITY = '028cb1d772b59157ee2d72cce30c515e4c3312e5e73ea111ff689dac88d93aaeb8'
# this will be getEnv('main').userId property value
MY_MAIN_USERID = 83

# this will be getEnv('test').identityKey property value
MY_TEST_IDENTITY = '03ac2d10bdb0023f4145cc2eba2fcd2ad3070cb2107b0b48170c46a9440e4cc3fe'
# this will be getEnv('test').userId property value
MY_TEST_USERID = 6

# JSON.stringified of object who's keys are identityKey values and the values are corresponding private keys.
DEV_KEYS = '{
    "03ac2d10bdb0023f4145cc2eba2fcd2ad3070cb2107b0b48170c46a9440e4cc3fe": "<private key as 32 hex bytes>"
}'

NOMYSQL = 1
RUNSLOWTESTS =
